
.Tile, .TileInner {
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    z-index: 10;
    color: rgba(0, 0, 0, 0.726); 
}

.Tile {
  position: absolute;
  transition: transform 100ms ease-in-out;
}

.TileInner {
  border-bottom:3px solid #0000009d;
  border-right: 3px solid #0000003f;
}

.TileNew .TileInner{
    animation: appear 200ms ease 100ms;
    animation-fill-mode: backwards;
    transition-property: none;
}
    
@-webkit-keyframes appear {
        0% {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0); }
      
        100% {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1); } }
      
@keyframes appear {
        0% {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0); }
      
        100% {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1); } }

        
.Tile_4  .TileInner{background:#ff7e28;}
.Tile_32 .TileInner{background:#ff01b3;}
.Tile_16 .TileInner{background:#aa5aff;} 
.Tile_2  .TileInner{background:#02f1f1;}
.Tile_8  .TileInner{background:#cdff00;}
.Tile_64 .TileInner{background:#19ff53;}
.Tile_128 .TileInner{background: linear-gradient(135deg, #00b7ff 0%, #29b8e5 53%, #1a8ad4 54%, #00bbff 100%);}
.Tile_256 .TileInner{background: linear-gradient(135deg, #f3e2c8 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);}
.Tile_512 .TileInner{background: linear-gradient(135deg, #ff9717 0%, #d24b5a 49%, #ba2737 51%, #ff9717 100%);}
.Tile_1024 .TileInner{
  background: linear-gradient(135deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  box-shadow: 0px 0px 20px 5px rgb(255, 255, 255);}
.Tile_2048 .TileInner{
  box-shadow:0px 0px 20px 5px rgb(255, 236, 129);
  background: linear-gradient(135deg, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);}

.Tile_1  .TileInner{  
  background: linear-gradient(135deg, #606c88 0%,#3f4c6b 100%);
    border-bottom:10px solid #0000007a;
  border-right: 10px solid #0000007a;
  border-top:10px solid #0000003f;
  border-left: 10px solid #0000003f;
  box-sizing: border-box;
  -webkit-animation-name: jackInTheBox;
  animation-name: jackInTheBox;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.Tile_super .TileInner{ background-color: #3c3a32; }
/*
@media screen and (max-width: 481px) {
    .Tile_2048 .TileInner, .Tile_1024 .TileInner{
        font-size: 20px;
    }
    .Tile_512 .TileInner,.Tile_128 .TileInner{
        font-size: 25px;
    }
    .TileInner{
        font-size: 28px;
        line-height: 65px; 
    }
}*/


@media screen and (max-width: 521px)  {}
@media screen and (max-width: 481px) {}
     
.TileMerged .TileInner {
    z-index: 20;
    -webkit-animation: pop 200ms ease 100ms;
    animation: pop 200ms ease 100ms;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
    
    @-webkit-keyframes pop {
        50% { -webkit-transform: scale(1.2);
            transform: scale(1.2); }}

    @keyframes pop {
     50% { -webkit-transform: scale(1.2);
        transform: scale(1.2); }    }

.RemoveTile:hover .TileInner{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


@-webkit-keyframes hinge {
    0% {
      -webkit-transform-origin: top left;
      transform-origin: top left;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
  
    20%,
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 80deg);
      transform: rotate3d(0, 0, 1, 80deg);
      -webkit-transform-origin: top left;
      transform-origin: top left;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
  
    40%,
    80% {
      -webkit-transform: rotate3d(0, 0, 1, 60deg);
      transform: rotate3d(0, 0, 1, 60deg);
      -webkit-transform-origin: top left;
      transform-origin: top left;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      opacity: 1;
    }
  
    to {
      -webkit-transform: translate3d(0, 700px, 0);
      transform: translate3d(0, 700px, 0);
      opacity: 0;
    }
  }
  
  @keyframes hinge {
    0% {
      -webkit-transform-origin: top left;
      transform-origin: top left;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
  
    20%,
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 80deg);
      transform: rotate3d(0, 0, 1, 80deg);
      -webkit-transform-origin: top left;
      transform-origin: top left;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
  
    40%,
    80% {
      -webkit-transform: rotate3d(0, 0, 1, 60deg);
      transform: rotate3d(0, 0, 1, 60deg);
      -webkit-transform-origin: top left;
      transform-origin: top left;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      opacity: 1;
    }
  
    to {
      -webkit-transform: translate3d(0, 700px, 0);
      transform: translate3d(0, 700px, 0);
      opacity: 0;
    }
  }
  
  .hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: hinge;
    animation-name: hinge;
  }
  
  @-webkit-keyframes jackInTheBox {
    from {
      opacity: 0;
      -webkit-transform: scale(0.1) rotate(30deg);
      transform: scale(0.1) rotate(30deg);
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
    }
  
    50% {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
  
    70% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes jackInTheBox {
    from {
      opacity: 0;
      -webkit-transform: scale(0.1) rotate(30deg);
      transform: scale(0.1) rotate(30deg);
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
    }
  
    50% {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
  
    70% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
