.MatrixContainer{
    position: relative;
    height: 434px;
    width: 450px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(27, 27, 27, 0.377);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }