.Backdrop{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #eee;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.Appear{
    -webkit-animation: appear 200ms ease 100ms;
    -moz-animation: appear 200ms ease 100ms;
    animation: appear 200ms ease 100ms;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    transition-property: none; }
    @-webkit-keyframes appear {
            0% {
              opacity: 0;
              -webkit-transform: scale(0);
              -moz-transform: scale(0);
              transform: scale(0); }
          
            100% {
              opacity: 1;
              -webkit-transform: scale(1);
              -moz-transform: scale(1);
              transform: scale(1); } }
          
    @-moz-keyframes appear {
            0% {
              opacity: 0;
              -webkit-transform: scale(0);
              -moz-transform: scale(0);
              transform: scale(0); }
          
            100% {
              opacity: 1;
              -webkit-transform: scale(1);
              -moz-transform: scale(1);
              transform: scale(1); } }
          
    @keyframes appear {
            0% {
              opacity: 0;
              -webkit-transform: scale(0);
              -moz-transform: scale(0);
              transform: scale(0); }
          
            100% {
              opacity: 1;
              -webkit-transform: scale(1);
              -moz-transform: scale(1);
              transform: scale(1); } }
.Backdrop h1{
  margin-top: 0;
  margin-bottom: 10px;
    font-size: 50px;
    color: #ffbe46;
  /* border: 1px solid red;*/
    
}
.Backdrop h3{
  /*border: 1px solid gold;*/
  margin-top: 0;
  padding: 0 50px;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: 'IBM Plex Sans';
  color: #ffffff;
  font-weight: 500;
}
.Backdrop h3 span{
   color: wheat;
   font-weight: 300;
}
.btn button{
   border-style: none;
   padding:10px;
   margin: 20px 10px 0 10px;
   font-family: sans-serif;
   font-size: 28px;
   font-weight: 500;
   border-radius: 10px;
   border-bottom:2px solid #0000009d;
   border-right: 2px solid #0000003f;
   border-top: 2px solid #0000000c;
   border-left: 2px solid #0000003f;
   outline: none;
}
.btn button {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  cursor: pointer;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
 }

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.NewGame {
    
    background:linear-gradient(135deg, #68cce8 0%,#2ea6c1 100%);    
  }
.Continue {
  background:linear-gradient(135deg, #ffbe46 0%,#ffa633 100%);    
}
/*
@media screen and (max-width: 481px) {
    .Backdrop h1{
      font-size: 30px;
      line-height: 0;
  }
    .Backdrop h3{
        font-size: 20px;
    }
    .NewGame {
      width: 130px;
      font-size: 20px;
      height: 30px;
    }
}*/