.ToolTip{
    position: relative;
}
.Attempts_1::after{
    content: '1';
}
.Attempts_2::after{
    content: '2';
}
.Attempts_3::after{
    content: '3';
}
.Attempts_0{
    cursor: not-allowed;
    opacity: 0.50;
}
.Attempts_0::after{
    content: '0';
}
.Attempts_0::after, .Attempts_1::after, .Attempts_2::after, .Attempts_3::after{
    position: absolute;
    left: 32px;
    color: white;
    font-size: 13px;
    display: block;
    width: 5px;
    height: 10px;
    top:0;
    background: #008cff98;
    padding: 2px  6px 6px 6px;
    border-radius: 0 0 0 10px;
    z-index: 305;
}

.ToolTipText{
    display: inline-block;
    visibility: hidden;
    width: 120px;
    padding: 18px;
    border: 1px solid #161616;
    box-shadow: 5px 5px 25px 0 #0000004b;
    background: #20202067;
    color:goldenrod;
    text-align: center;
    border-radius: 0 6px 6px 0;
    position: absolute;
    z-index: 300;
    bottom: 0%;
    left: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}
.Clicked svg{
    stroke:#4fb0ff;
    fill:#4fb0ff;
}

.Clicked {
    transform: translate(-2px,-2px);
    box-shadow: 2px 2px 5px rgb(52, 255, 255);
}

.Clicked:hover {
    transform: translate(-2px,-2px);
    box-shadow: 2px 2px 5px rgb(52, 255, 255) !important;
}
.ToolTip:hover .ToolTipText{
    visibility: visible;
    opacity: 1;
}