.Size:hover {
  background: rgba(59, 255, 75, 1);
}
.SizeDetails{
    position: absolute;
    visibility: hidden;
    width: 140px;
    height: 120px;
    right: -159px;
    padding: 10px;
    border: 1px solid #161616;
    border-radius: 0 10px 10px 0;
    border-left: none;
    box-shadow: 5px 5px 25px 0 rgba(7, 7, 7, 0.2);
    background: rgba(32, 32, 32, 0.7);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .Size:hover .SizeDetails{
    visibility: visible;
    opacity: 1;  }
  
  .SizeDetails div{
    width: 30px;
    float: left;
    height: 30px;
    margin: 3px;
    padding: 5px;
    border-radius: 2px;
    line-height: 1px;
    background: #2e2e2e;
  }
  
  .SizeDetails div:hover{
    background: #383838;
    color:rgb(32, 196, 218);
    cursor: pointer;
  }
  .SizeDetails div:active{
    transform: translate(1px,1px);
  }
  .SizeDetails div p{  
    line-height: 0;
    margin-top: 9px; 
  }
  .SizeDetails div p{  
    color: ghostwhite;
    font-family: 'Gugi';
  }
  
  .SizeDetails div p span{  
    color: rgb(61, 249, 255);
    font-family: 'East Sea Dokdo'/*'Shrikhand'*/, cursive;
    font-size: 30px;
    /*font-family: 'East Sea Dokdo', cursive;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Righteous', cursive;*/
  
  }
  .SizeDetails p{
    line-height: 1px;
    color:rgb(255, 209, 93);
  }