.App{
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif; 
    background-color: rgb(41, 47, 48);
    height: 100%;
}
.BigWrapper{
    background-color: rgba(27, 27, 27, 0.897);
    margin: 0 auto; 
  }
  /*
  @media screen and (max-width: 521px) {
    .BigWrapper {
      width: 450px; }
    }
  @media screen and (max-width: 481px) {
    .BigWrapper {
      width: 300px;
      margin: 0 auto; }

    }*/


.InstructionWrapper{
  height: 100px; 
  padding: 10px;
}
.Instruction{
  color: #ccc;
  width: 320px;
  float: right;
}
.Instruction p b{
  color: #fff;
}
.Instruction p {
  margin: 7px 7px 0 0 ;
  line-height: 27px;
  font-size: 16px;
  font-stretch: ultra-expanded;
}

.GameWrapper{
  background-color: rgba(27, 27, 27, 0.897);
  width: 500px;
  margin: 15px auto;
  border-radius: 10px; 
}

