

.App{
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif; 
    /*background: url('../src/Assets/reactLogo.png');*/
    background-position: -200% bottom;
    background-size: 1500px 1000px;
    background-repeat: no-repeat; 
    background-color: rgb(41, 47, 48);
        height: 100%;
}
.BigWrapper{
    background-color: rgba(27, 27, 27, 0.897);
    margin: 0 auto; 
  }
  @media screen and (max-width: 521px) {
    .BigWrapper {
      width: 450px; }
    }
  @media screen and (max-width: 481px) {
    .BigWrapper {
      width: 300px;
      margin: 0 auto; }

    }

header{
  background-color: black;
  height: 100px;
  padding: 20px;
}
.InstructionWrapper{
  height: 100px; 
  padding: 10px;
}
.Instruction{
  color: #ccc;
  width: 320px;
  float: right;
}
.Instruction p b{
  color: #fff;
}
.Instruction p {
  margin: 7px 7px 0 0 ;
  line-height: 27px;
  font-size: 16px;
  font-stretch: ultra-expanded;
}
footer{
  padding: 10px;
  color: white;
  background: black;
}
footer a {
 text-decoration: none;
 color: rgb(78, 174, 253);
 font-weight: bold;
 font-size: 20px;
}
footer a:hover {
  color: rgb(205, 229, 248);
 }