.App{
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif; 
    background-color: rgb(41, 47, 48);
    height: 100%;
}
.BigWrapper{
    background: linear-gradient(45deg, rgb(64, 52, 255) 0%,#02f1f1 54%,rgb(205, 255, 0) 100%);
    margin: 0 auto; 
  }
  /*
  @media screen and (max-width: 521px) {
    .BigWrapper {
      width: 450px; }
    }
  @media screen and (max-width: 481px) {
    .BigWrapper {
      width: 300px;
      margin: 0 auto; }

    }*/


.InstructionWrapper{
  height: 100px; 
  padding: 10px;
}
.Instruction{
  color: #ccc;
  width: 320px;
  float: right;
}
.Instruction p b{
  color: #fff;
}
.Instruction p {
  margin: 7px 7px 0 0 ;
  line-height: 27px;
  font-size: 16px;
  font-stretch: ultra-expanded;
}


