footer{
    padding: 20px 20px 0 10px;
    color: white;
    background-color:#1b1b1be5;
    height: 90px;
  }
  footer a {
   text-decoration: none;
   color:rgba(41,137,216,1);
   font-weight: bold;
   font-size: 20px;
  }
  footer a:hover {
    color: rgb(205, 229, 248);
   }
  
  .Logos{
    float: right;
    width:50px;
    margin: 0 20px;
  }
  .MyLogo{
    float: right;
    width:50px;
    margin: 0 20px;
  }
  .FollowMe{
    float: right;
    width:140px;
   /*border: 1px solid aqua;*/
  }
  .FollowMe h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
   margin-top: 15px;
   color: aliceblue;
  }