.GameMenu{  
  float: right;
  width: 50px;
  background: #303030;
  border: 1px solid #222;
  border-radius: 5px;
  margin-top: 15px;
}

.GameMenu ul {
   margin: 0;
   padding: 0;
}

.GameMenu ul li {
    display: block;
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
    color: beige; stroke:white;
    fill:#ffffff;
    transition: 0.3s;
 }
 .GameMenu ul li svg:active {
    /*background-color: rgba(0, 0, 0, 0.363);*/
    stroke:#ffffff;
    fill:#ffffff;
 }
 .GameMenu ul li:hover {
    stroke:#fccd4d;
    fill:#fccd4d;
    transform: translate(-2px,-2px);
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

