.GameMenu{  
  float: right;
  width: 50px;
  background: #303030;
  border: 1px solid #222;
  border-radius: 5px;
}

.GameMenu ul {
   margin: 0;
   padding: 0;
}

.GameMenu ul li {
    display: block;
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0px;
    color: beige; stroke:white;
    fill:#ffffff;
 }
 .GameMenu ul li:hover {
    background-color: rgba(0, 0, 0, 0.363);
 }
 .GameMenu ul li:hover,  .GameMenu ul li :hover  {
    stroke:#fccd4d;
    fill:#fccd4d;
}
