.GameWrapper{
  background-color: rgba(27, 27, 27, 0.897);
  width: 500px;
  margin: 15px auto;
  border-radius: 10px; 
}

.GameContainer {
  cursor: default;
  touch-action: none;
  background: #222;
  border-radius: 6px;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  position: relative;
  width:500px;
  height: 500px;
}

/*
@media screen and (max-width: 521px) {
      .MatrixContainer {
          margin-top: 40px;
          padding: 12px;
          width: 450px;
          height: 450px;}
    }
    
@media screen and (max-width: 481px) {
  .MatrixContainer {
    margin-top: 17px;
    padding: 10px;
    width: 280px;
    height: 280px; }
}
*/