
.GridContainer {
    position: absolute;
    z-index: 1; 
}

.GridRow:last-child { 
    margin-bottom: 0; 
    margin-right:0;
}
.GridRow:after {
    content: " ";
    display: block;
    clear: both; 
}
    /*
    @media screen and (max-width: 521px) {
        .GridRow { margin-bottom: 12px;  } }
        .GridRow:last-child { margin-bottom: 0; }
        .GridRow:after {
        content: "";
        display: block;
        clear: both; }
    @media screen and (max-width: 481px) {
        .GridRow { margin-bottom: 10px;  } }
        .GridRow:last-child { margin-bottom: 0; }
        .GridRow:after {
        content: "";
        display: block;
        clear: both; }*/

.GridCell {
    float: left;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px dashed rgb(15, 15, 15);
    border-style: solid;
}
.GridCell:last-child {
    margin-right: 0;
}
        /*
    @media screen and (max-width: 521px) {    
        .GridCell {
            width: 97.5px;
            height: 97.5px;
            margin-right: 12px;
            float: left;
            border-radius: 3px;
            background: rgb(90, 90, 90); }}
    @media screen and (max-width: 481px) {
        .GridCell {
            width: 57.5px;
            height: 57.5px;
            margin-right: 10px;
            float: left;
            border-radius: 3px;
            background: rgb(90, 90, 90); }}*/



